* {
    margin: 0;
}

header{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    text-align: center;
    font-family: cursive;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    color: red;
}
strong{
    font-size: larger;
    
}
p{
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.primer {
    width: 37%;
    height: 248px;
    border: 2px solid red;
}

.segunda {
    width: 37%;
    height: 306px;
    border: 2px solid red;
}

.tercera{
    width: 37%;
    height: 306px;
    border: 2px solid red;
}